.main-content .overview-section {
  width: 100%;
  background-color: func.theme-color(m);
  padding: 10px;
  display: flex;
  gap: 10px;

  @media (width <= func.breakpoint(m)) {
    & {
      flex-direction: column;
    }
  }

  .overview-left {
    display: grid;
    padding: 10px 20px;
    background-color: func.theme-color(s);
    gap: 10px;
    grid-template:
      "logo overview" func.responsive-scaling(75, 100)
      "button button" auto / func.responsive-scaling(75, 100) auto;

    .logo {
      overflow: hidden;
      border: 3px solid func.theme-color(l);
      background-color: white;
      grid-area: logo;

      img {
        height: 100%;
        aspect-ratio: 1 / 1;
      }
    }

    .info {
      padding-top: 10px;
      grid-area: overview;

      p {
        margin: 0;
      }

      .name {
        @include mix.multiline-ellipsis(1);
        font-size: 1rem;
        font-weight: 900;
      }

      .status {
        @include mix.multiline-ellipsis(2);
        font-size: 0.7rem;
        color: rgba(0, 0, 0, 0.45);
        font-weight: 700;
      }
    }

    .custom-button {
      display: flex;
      column-gap: 10px;
      justify-content: center;
      align-items: center;
      grid-area: button;
    }
  }

  .overview-right {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    row-gap: 10px;

    @media (width <= func.breakpoint(l)) {
      & {
        flex-direction: column;
      }
    }

    .summary {
      display: flex;
      flex-grow: 1;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      min-width: 50%;

      .summary-icon {
        font-size: 1rem;
        padding-right: 7px;
      }

      .summary-text {
        margin-left: 5px;
      }
    }
  }
}

.pagination-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  margin: 5px 0;
  gap: 10px;

  .custom-dropdown {
    height: 35px;

    .dropdown-container {
      border: 1px solid func.theme-color(l);
      background-color: #fff;
    }
  }

  .loading-indicator {
    display: flex;
    justify-content: center;
    .spinner-border {
      color: func.theme-color(xl, 0.5);
    }
  }
}
