.popover-container {
  --parent-gap: 5px;
  --arrow-side-gap: 100%;
  --arrow-height: 15px;
  --padding: calc((var(--arrow-height) / 2) + var(--parent-gap));

  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: max-content;
  z-index: 10;

  .custom-menu.menu-container {
    border: 1px solid #{func.theme-color(l, 0.6)};
    position: static;

    .menu-content .menu-item {
      padding: 10px 15px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: var(--arrow-height);
    height: var(--arrow-height);
    border: 1px solid #{func.theme-color(l, 0.6)};
    border-right-width: 0;
    border-bottom-width: 0;
    background-image: linear-gradient(135deg, #fff 0%, #fff 52%, transparent 52%, transparent 100%);
    z-index: 10;
  }

  &.popover-top {
    bottom: 100%;
    padding-bottom: var(--padding);

    &::after {
      left: 0;
      bottom: 0;
      transform: translate3d(var(--arrow-side-gap), calc(var(--parent-gap) * -1), 0) rotate(225deg);
    }
  }

  &.popover-bottom {
    top: 100%;
    padding-top: var(--padding);

    &::after {
      top: 0;
      left: 0;
      transform: translate3d(var(--arrow-side-gap), var(--parent-gap), 0) rotate(45deg);
    }
  }

  &.popover-left {
    top: 0;
    right: 100%;
    padding-right: var(--padding);

    &::after {
      top: 0;
      right: 0;
      transform: translate3d(calc(var(--parent-gap) * -1), var(--arrow-side-gap), 0) rotate(135deg);
    }
  }

  &.popover-right {
    top: 0;
    left: 100%;
    padding-left: var(--padding);

    &::after {
      top: 0;
      left: 0;
      transform: translate3d(var(--parent-gap), var(--arrow-side-gap), 0) rotate(-45deg);
    }
  }
}